h1.center {
  text-align: center;
}

.text-centered {
  text-align: center;
}

.light-background {
  background-color: salmon;
  color: #29264e;
}

.wrapper {
  width: 75px;
  margin: auto;
}

img.center {
  text-align: center;
}
